/* global.css */

/* Selector universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* Colores */
    --color-fondo-principal: #0A192F; /* Fondo del body */
    --color-fondo-secundario: #444847; /* Fondo de cabecera y grupo h2 */
    --color-fondo-footer: #0c1728;
    --color-texto-principal: #E6F1FF; /* Texto principal del body */
    --color-texto-acento: cornsilk; /* Texto de enlaces y títulos */

    /* Colores de Acento y Botones */
    --color-acento-azul: #3f51b5; /* Azul primario de botones (.opciones, .btn-login, .boton-acceso) */
    --color-acento-hover-nav: #2c3aa7; /* Hover de botones del header */
    --color-acento-hover-sec: #536dfe; /* Hover de botones secundarios */
    --color-borde-tarjeta: #6d758080;

    /* Tipografía */
    --fuente-monospace: monospace;
    --fuente-sans-serif: sans-serif;
    --color-transicion-rapida: 0.3s ease;

    /* Propiedades base */
    --radius-pequeno: 4px;
    --padding-header: 0.5rem 1%; 
}


html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-fondo-principal);
    font-family: var(--fuente-monospace);
    color: var(--color-texto-principal);
}